<ion-view view-title="Playlists">
  <ion-content scroll="false">
    <!--<ion-list>-->
      <!--<ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">-->
        <!--{{playlist.title}}-->
      <!--</ion-item>-->
    <!--</ion-list>-->
    <div class="row text-center">
      <div class="col col-50">


        <div id="board" style="width: 400px"></div>
        <p>Status: <span id="status"></span></p>
        <p>FEN: <span id="fen"></span></p>
        <p>PGN: <span id="pgn"></span></p>
        <button class="button button-positive" ng-hide="flipButton" ng-click="flip()">
          Flip board
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
